*.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_tbb_tbbmalloc_static.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_zlib.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_curl.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_rply.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_assimp.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_embree_embree3.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_liblzf.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_jsoncpp.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_jpeg.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_filament_smol-v.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_civetweb_civetweb-cpp.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_filament_bluegl.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_filament_image.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_filament_vkshaders.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_vtk_vtksys-9.1.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_vtk_vtkkissfft-9.1.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_png.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_fmt.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_ippicv_ippicv.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_vtk_vtkCommonCore-9.1.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_filament_filabridge.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_filament_meshoptimizer.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_blas_tbb_static.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_filament_filaflat.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_civetweb_civetweb.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_tinyfiledialogs.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_embree_sys.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_blas_mkl_intel_ilp64.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_glew.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_vtk_vtkCommonSystem-9.1.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_blas_mkl_core.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_vtk_vtkFiltersCore-9.1.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_filament_filameshio.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_embree_embree_sse42.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_qhull_r.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_tbb_tbb_static.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_filament_filamat_lite.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_qhullcpp.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_vtk_vtkCommonMisc-9.1.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_filament_filament.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_embree_tasking.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_filament_ibl.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_filament_backend.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_vtk_vtkFiltersGeneral-9.1.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_vtk_vtkCommonDataModel-9.1.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_imgui.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_zeromq.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_filament_bluevk.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_vtk_vtkpugixml-9.1.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_filament_utils.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_vtk_vtkCommonMath-9.1.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_vtk_vtkCommonExecutionModel-9.1.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_embree_math.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_filament_geometry.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_embree_lexers.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_ippicv_ippiw.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_vtk_vtkCommonTransforms-9.1.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_webrtc_webrtc_extra.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_embree_simd.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_blas_mkl_tbb_thread.a filter=lfs diff=lfs merge=lfs -text
libs/Open3d/lib/osx/libOpen3D_3rdparty_glfw.a filter=lfs diff=lfs merge=lfs -text
